<html>
	<head>
	<!-- Google Web Font -->
	<link href='http://fonts.googleapis.com/css?family=Rokkitt:700' rel='stylesheet' type='text/css'>	
	<link rel="stylesheet" type="text/css" href="css/styles.css" />
	</head>
	<body>
	
	<div id="topbar"></div>
	
	<div id="container">
		<div id="topcontent">  	
		
		<div id="logo">
		<a href="index.html">
    	<h1>anthonychen</h1>
    	</a>
    	</div>
    	
    	<div id="navigation">
    	<ul id="navlist">
    	<li><a href="about.html"><span class="red">About</span></a></li>
    	<li><a href="portfolio.html">Work</a></li>
    	<li><a href="contact.html">Contact</a></li>
    	</ul>
    	</div>
   
    	</div>
    	<hr />
    	<!-- CONTENT STARTS -->
    	<div id="paneleft">
    		<span class="textregular">
    		I'm an engineer, a geek, a DIY'er, a guitarist, and an amateur filmmaker/photographer.</span>
    		<br />
    		<br /><p class="textlucida">
    		I've always loved building things, whether they be physical or virtual. In my spare time I hack around with DIY projects, play guitar, make movies and take pictures.</p>
    		<br />
    		<br />
    		<br />
    		<p class="textregular">
    		I believe that technology can change the world, and I want to be part of that change.</p>
    		<hr />
    		<p class="textregular">
    		Technical Skills:<br /></p>
    		<p class="textlucida">
    		Java, Python, PHP, MySQL, OCaml, HTML, CSS, Javascript, Unix/Linux
    		<br /><br />
    		Experience with Arduino, prosumer-grade video gear/software (Premiere, After Effects)
    		</p>
    	</div>
    	<div id="paneright">
    		<span class="textregular">
    		Places you can find me:
    		<br />
    		<a class="red" href="https://github.com/itsachen">github</a>
    		<br />
    		<a class="red" href="http://www.linkedin.com/profile/view?id=103943048&locale=en_US&trk=tab_pro">linkedin</a>
    		<br />
    		<a class="red" href="http://www.instructables.com/member/itsachen/">instructables</a>
    		<br />
    		<a class="red" href="http://vimeo.com/itsachen">vimeo</a>
    		<br />
    		<a class="red" href="http://www.flickr.com/photos/itsachen/">flickr</a>
    		<br />
    		<a class="red" href="http://www.last.fm/user/itsachen">last.fm</a>
    		<br />
    		<a class="red" href="https://foursquare.com/user/6589546">foursquare</a>
    		<br />
    		</span>
    	</div>
  	</div>
  	</body>
</html>
